body {
    box-sizing: border-box;
    background-color: rgba(22, 22, 22, 0.959);
    font-family: "Orbitron", sans-serif;
}

.calculator{
    margin: 2rem auto;
    width: 24rem;
    height: 35rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    
}

.calculator .display p{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0.5rem 2rem;
    font-size: 2rem;
}

.display .currentNum{
    height: 5rem;
}

.display .result{
    height: 3rem;
}

.numbers{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

.numbers div{
    display: flex;
    height: 100%;
}

div[class^="btn"]{
    border-radius: 4px;
    width: 25%;
}

.calculator, div[class^="btn"] {
    border: 2px solid gray;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
}

.btn-equal{
    background-color: rgb(50, 61, 83);
}